# Fichier .gitignore
.claude

# Fichiers de secrets et d'environnement local
.env.local

# Dépendances (installées par npm)
node_modules

# Fichiers système de macOS et Windows
.DS_Store
Thumbs.db

# Fichiers de log générés par Vercel localement
.vercel

# Fichiers n8n à ignorer
docker-compose.yml
n8n_data/